main {
    align-items: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.room-card {
    box-shadow: 0px 3px 15px #192841;
    border-radius: 10px;
    margin: 20px;
    width: 1000px;
    height: 250px;
    background-color: #d6ccc2;
    display: flex;
    align-items: center;
    justify-content: left;
}

.room-image {
    padding: 10px;
    height: 200px;
    width: 300px;
}

.room-description {
    padding: 10px;
    height: 90%;
    width: 50%;
    display: flex;
    display: block;
}