

.outer{
    height: 100%;
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.register-form {
    background-color: #d6ccc2;
    color: #192841;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 200px;
    box-shadow: 0px 3px 15px #192841;
    border-radius: 10px;
}

.form-input {
    border-radius: 5px;
    background-color:#edede9;
    border-color: #192841;
    color: #192841;
    width: 250px;
    height: 25px;
}