.App {
  text-align: center;
  font-family: Arial Narrow, sans-serif;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

h4 {
  font-size: 14px;
  text-decoration: none;
}

.App-image {
  height: 100%;
  width: 100%;
  background-color: #f5ebe0;
}

.App-main {
  background-color: #edede9;
  padding: 15px;
}



.App-header {
  font-family: Arial Narrow;
  background-color: #d6ccc2;
  min-height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  color: #192841;
  border-bottom: 10px solid #f5ebe0;
}

.App-link:hover {
  font-weight: bold;
  color: #192841;
}

.App-link {
  color: #192841;
  text-decoration: none;
}

.Book {
  color: #192841;
  background-color: #d5bdaf;
  border: 1px solid #192841;
  border-radius: 20px;
  font-size: calc(10px + 2vmin);
}

.Book:hover {
  font-weight: bold;
  border: 2px solid #192841;
  border-radius: 20px;
}

.home-block {
  height: 100%;
  width: 100%;
  background-color: #f5ebe0;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.info {
  text-align: center;
  font-size: 16px;
  width: 45%
}

.block-image {
  height: 85%;
  width: 55%;
}

.activity-card {
  display: flex;
    flex-direction: column;
}
