.App {
  text-align: center;
}

.App-image {
  height: 95vh 95vw;
  pointer-events: none;
}

.App-main {
  background-color: whitesmoke;
  padding: 15px;
}

.App-header {
  background-color: white;
  border-bottom: solid 5px black;
  min-height: 20vh;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link:hover {
  color: #61dafb;
}
