.App {
  text-align: center;
}

.App-image {
  height: 95vh 95vw;
  pointer-events: none;
}

.App-main {
  background-color: whitesmoke;
  padding: 15px;
}

.App-title {
  background-color: #BEE9E8;
  height: 20vh;
  display: flex;
  align-items: flex-end;
}

.App-header {
  background-color: #62B6CB;
  min-height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  font-size: calc(10px + 2vmin);
  color: #192841;
}

.App-link:hover {
  font-weight: bold;
}

.Book {
  color: #192841;
  background-color:aquamarine;
  border: 5px solid #62B6CB;
  border-radius: 20px;
  font-size: calc(10px + 2vmin);
}

.Book:hover {
  font-weight: bold;
  border: 2px solid #192841;
  border-radius: 20px;
}